.button {
  border-radius: 5px;
  padding: 25px;
  margin: 10px;
  cursor: pointer;
  outline: none;
  font-size: 16px;
  font-weight: 600;

  &-big {
    width: 28.125rem;
    height: 3.125rem;
  }

  &-small {
    width: 13.438rem;
    height: 3.125rem;
  }
}

.button-with-icon {
  width: 9.688rem !important;

  background-color: $white !important;
  color: $dark-green !important;
  border: 1px solid $light-green;
  border-radius: 5px;

  &-medium-height {
    height: 3rem !important;
  }

  .small-height {
    height: 1.875rem !important;
  }

  &:hover {
    background-color: $light-grey !important;
  }
}
