.checkbox {
  width: 20px;
  height: 20px;
  border-radius: 5px;
  border: 1px solid $grey-green;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color border-color 0.2s ease;

  &:hover {
    border-color: $dark-green;
  }

  &-white {
    background-color: $white;
  }

  &-green {
    border: 0;
    background-color: $dark-green;
  }
}
