.table {
  border-radius: 20px;
  &-heading {
    text-transform: none;
    text-decoration: none;
    font-family: 'Roboto', sans-serif !important;

    &-light-weight {
      font-weight: 400;
    }
  }
}
