*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

// hello

body {
  background-color: $snow-color !important;
  font-family: 'Roboto', sans-serif;
}

.error {
  color: $red;
}
