// color pallate

// green
$dark-green: #1ba076;
$medium-green: #61c0a2;
$light-green: #cff0e6;

// black
$black: #04261c;

// grey
$dark-grey: #85a399;
$grey-green: #bfd7cf;
$border-grey: #e5ecea;
$light-grey: #f0f4f3;
$medium-grey: #e4eae8;

// red
$red: #fb4364;
$dark-red: #d22b49;
$light-red: rgba(251, 67, 100, 0.2);

// white
$white: #ffffff;

// other
$snow-color: #f6f9f8;
